/* Parallax Section */
.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Menyesuaikan gambar agar tidak terdistorsi */
  pointer-events: none;
}

/* Perbaikan untuk tampilan mobile */
@media (max-width: 768px) {
  .parallax {
    height: auto; /* Menghindari tinggi yang berlebihan */
  }

  .parallax img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Memastikan gambar tidak terlalu besar */
  }
}