<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
    <div class="container">
        <div class="background"></div>
        <header class="header">
            <a href="/Home" class="logo">TOKO LAPTOP</a>
            <nav class="nav" id="main-nav">
                <a href="/Home" class="nav-link">Home</a>
                <a href="/DaftarLaptop" class="nav-link">Laptop</a>
                <a href="/Services" class="nav-link">Services</a>
                <a href="/Aboutus" class="nav-link">About Us</a>
                <a href="https://wa.me/+6285791730657" class="nav-link">Contact Me</a>
            </nav>

            <div class="icons">
                <div class="icon" id="search-icon">🔍</div>
                <a href="/login" class="icon" id="profile-icon">👤</a>
                <div class="hamburger" id="hamburger-menu">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
            </div>









    <script src="/js/aboutus.js"></script>
</body>
</html>