<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Halaman Daftar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Login.css">
</head>
<body>
  <section>
    <div class="leaves">
      <div class="set">
        <div><img src="/images/Login/leaf_01.png"></div>
        <div><img src="/images/Login/leaf_02.png"></div>
        <div><img src="/images/Login/leaf_03.png"></div>
        <div><img src="/images/Login/leaf_04.png"></div>
        <div><img src="/images/Login/leaf_01.png"></div>
        <div><img src="/images/Login/leaf_02.png"></div>
        <div><img src="/images/Login/leaf_03.png"></div>
        <div><img src="/images/Login/leaf_04.png"></div>
      </div>
    </div>
    <img src="/images/Login/bg.jpg" class="bg">
    <img src="/images/Login/girl.png" class="girl">
    <img src="/images/Login/trees.png" class="trees">

    <div class="login">
      <h2>Buat Akun Baru</h2>
      <form method="POST" action="/register">
        <div class="inputBox">
          <input type="text" name="name" placeholder="Nama Anda" required>
        </div>
        <div class="inputBox">
          <input type="email" name="email" placeholder="Alamat Email" required>
        </div>
        <div class="inputBox">
          <input type="password" name="password" placeholder="Kata Sandi" required>
        </div>
        <div class="inputBox">
          <input type="submit" value="Mendaftar" id="btn">
        </div>
      </form>
      <div class="group">
        <a href="/loginmasuk">Sudah punya akun? Masuk</a>
      </div>
    </div>
  </section>
</body>
</html>
