<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Masuk ke Akun - Toko Laptop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/Login.css"> 
</head>
<body>
  <section>
    <div class="leaves">
      <div class="set">
        <div><img src="/images/Login/leaf_01.png"></div>
        <div><img src="/images/Login/leaf_02.png"></div>
        <div><img src="/images/Login/leaf_03.png"></div>
        <div><img src="/images/Login/leaf_04.png"></div>
        <div><img src="/images/Login/leaf_01.png"></div>
        <div><img src="/images/Login/leaf_02.png"></div>
        <div><img src="/images/Login/leaf_03.png"></div>
        <div><img src="/images/Login/leaf_04.png"></div>
      </div>
    </div>

  
    <img src="/images/Login/bg.jpg" class="bg">
    <img src="/images/Login/girl.png" class="girl">
    <img src="/images/Login/trees.png" class="trees">

    <!-- Form login -->
    <div class="login">
      <a href="/login" class="back-button">
        <img src="https://t1.pixhost.to/thumbs/5648/596958741_pngtree-green-arc-creative-return-button_4567958.png" alt="Back" width="60" height="60">
      </a>
      <h2>Masuk ke Akun Anda</h2>
      <form method="POST" action="/login">
        <div class="inputBox">
          <input type="email" name="email" placeholder="Alamat email" required />
        </div>
        <div class="inputBox">
          <input type="password" name="password" placeholder="Kata sandi" required />
        </div>
        <div class="inputBox">
          <input type="submit" value="Masuk" id="btn" />
        </div>
      </form>
      <div class="group">
        <a href="/login">Belum punya akun? Daftar</a>
      </div>
      <div style="text-align: center; margin-top: 10px;">
      </div>
    </div>
  </section>
</body>
</html>
